@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');


:root {
    --content-width: 1880px;
    --color-gold: rgb(180, 160, 100);
}


/* Init Elements Base Styles */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(0, 0, 0);
}
body {
    min-width: 1888px;
    font-family: 'M PLUS 2', sans-serif;
    font-size: 18px;
    /* font-weight: 400; normalと同等 */
    line-height: 1;
    color: #fff;
}
main {
    margin: 0 4px;
    background: rgb(32,40,32);
    background: linear-gradient(135deg, rgb(50, 36, 68) 0%, rgb(25, 25, 25) 50%);
    border-radius: 10px;
    overflow: hidden;
}

/* *, *::before, *::after {
    box-sizing: inherit;
} */

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
    padding: 0;
}
img {
    /* max-width: 100%;
    height: auto; */
    /* display: block; */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    /* font-size: inherit; */
    /* font-weight: 700; boldと同等, 900までいける */
}
p {
    margin: 1em 0;
    line-height: 1.5;
}

i{
    font-style: normal;
}

a{
    color: inherit;
    /* text-decoration: none; */
}

button {
    padding: 0;
    border: none;
    background: none;
}
input, textarea, select {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    background: #000;
    outline: none;
    color: inherit;
    font: inherit;
}


table{
    border-collapse: collapse;
    font-size: 16px;
}

:active{
    outline: 1px solid rgba(255, 255, 255, 0.5);
}


/* tabs */
.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f0f0f0;
}
.tabs button{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

/* header
-------------------------------------------------- */
header {
    display: flex;
    position: relative;
    height: 30px;
    background-color: rgb(0, 0, 0);
    &::before{
        content: '';
        display: block;
        flex: 1;
        order: 1;
    }
}
#site-name{
    order: 0;
    display: inline-block;
    position: relative;
    height: 24px;
    margin-left: 6px;
    padding: 3px 4px 3px 24px;
    /* color: rgb(180, 160, 100); */
    color: rgb(180,180,180);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    &:hover,
    &:focus{
        color: rgb(255, 255, 255);
    }

    img{
        position: absolute;
        left: 0;
        top: 3px;
        width: 24px;
        height: 24px;
    }
}
#settings-button{
    order: 3;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding: 3px;
    opacity: 0.8;
    
    &:hover,
    &:focus{
        opacity: 1.0;
        border: 1ps solid rgba(255, 255, 255, 0.5);
    }
}


/* footer
-------------------------------------------------- */
footer{
    color: rgb(180,180,180);
    font-size: 16px;
    text-align: center;
}

/* loading-screen
-------------------------------------------------- */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#loading-screen{
    height: 1080px;
    .loading-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(180, 160, 100);
        font-size: 36px;
        font-weight: 600;
    }
    .loading-spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 64px;
        height: 64px;
        margin-left: -32px;
        margin-top: -32px;
        border: 8px solid rgba(255, 255, 255, 0.2);
        border-top-color: rgb(180, 160, 100);
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

/* site-info{
-------------------------------------------------- */
#site-info{
    width: var(--content-width);
    margin: 0 auto;
    padding: 20px;
    color: #aaa;
    box-sizing: border-box;
    
    ul{
        font-size: 16px;
        line-height: 1.5;
    }
    li{
        margin-bottom: 20px;
    }
}



/* character-card-section
---------------------------------------------------------------------------------------------------- */
#character-card-section{
    display: none;
    position: relative;
    width: var(--content-width);
    height: 1080px;
    margin: 0 auto;
    /* filter: drop-shadow(0 0px 10px rgba(0,0,0,1)); */
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -999;
        width: 100%;
        height: 100%;
        background-image: url(../img/score_checker/chara_card_sample.jpeg);
        opacity: 0;
    }
}

/* score-checker-info
-------------------------------------------------- */
#score-checker-info{
    position: absolute;
    left: 700px;
    top: 120px;
    width: 770px;
}

#ocr-paste-area{
    position: absolute;
    left: 620px;
    top: 20px;
    width: 590px;
    height: 100px;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    resize: none;
}
.dragover #ocr-paste-area{
    box-shadow: 0 0 12px 4px rgba(255, 255, 200, 1);
    z-index: 1;
}

/* chara-name
-------------------------------------------------- */
#chara-name{
    display: flex;
    /* align-items: flex-end; */
    position: absolute;
    left: 13px;
    top: 23px;
    z-index: 1;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;

    img{
        width: 56px;
        height: 56px;
        margin-right: 8px;
    }
    b{
        filter: drop-shadow(0px 1px 2px rgba(0,0,0,1));
    }
    button{
        color: #fff;
        opacity: 0.25;
        &:hover,
        &:focus{
            opacity: 0.6;
        }
    }
}

/* selected-character-figure
-------------------------------------------------- */
#selected-character-figure {
    position: absolute;
    left: 115px;
    top: 3px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    mask-image: linear-gradient(to top, transparent 0%, transparent 12%, black 35%, black 100%);
    /* display: none; */

}

#resonance-chain{
    position: absolute;
    left: 150px;
    top: 500px;
    display: flex;
    gap: 10px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.8));
    img[src$="_ON.png"] {
        filter: drop-shadow(0 0 6px rgba(255,255,255,0.8));
    }
}

/* tab-selecter-modal
-------------------------------------------------- */
.tab-selecter-modal {
    --button-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    width: 640px;
    height: calc(640px + var(--button-height));
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);

    nav{
        display: flex;
        button{
            display: block;
            width: 100%;
            height: var(--button-height);
            padding: 0 20px;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            text-align: left;
            background-color: rgba(0, 0, 0, 0.8);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            transition: background-color 0.3s ease;

            &:hover,
            &:focus{
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
    ul{
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        height: 640px;
        overflow-y: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */

        ul::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }
        li{
            flex: 0 0 20%;
            padding: 10px;
            box-sizing: border-box;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover,
            &:focus{
                background-color: rgba(255, 255, 255, 0.1);
            }

            img{
                width: 100%;
                height: auto;
                border-radius: 10px;
                box-shadow: 0 0 6px rgba(0,0,0,0.5);
            }
        }
    }
}



/* total-score
-------------------------------------------------- */
#total-score{
    display: flex;
    align-items: end;
    position: absolute;
    right: 20px;
    top: 20px;

    h2{
        margin: 0 10px 0 0;
        color: var(--color-gold);
        font-size: 60px;
        font-weight: 800;
        line-height: 1;
        letter-spacing: -2px;
    }
    p{
        margin: 0;
        font-size: 80px;
        font-weight: 600;
        line-height: 1;
    }
}

/* status-list{
-------------------------------------------------- */
.status-list{
    position: absolute;
    top: 120px;
    padding: 20px;
    /* background-color: rgb(17, 11, 21); */
    border-radius: 20px;
    box-sizing: border-box;
    color: rgb(180, 160, 100);

    h2{
        margin-bottom: 10px;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--color-gold);
        font-size: 24px;
        font-weight: 500;
    }
    select{
        position: absolute;
        right: 20px;
        top: 14px;
        padding: 4px 8px;
        font-size: 16px;
    }
    li{
        display: flex;
        margin: 6px 0;
        line-height: 32px;
            font-weight: 500;

        label{
            flex: 1;
            font-size: 18px;
            font-weight: inherit;
        }
        input{
            width: 100px;
            height: 32px;
            padding: 0px;
            text-align: center;
            font-size: 20px;
            font-weight: inherit;
            &[readonly]{
                background: none;
                text-align: right;
            }
        }
    }

}

/* base-status */
#base-status{
    left: 600px;

    [data-breakdown]{
        position: relative;

        &:after{
            content: attr(data-breakdown);
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 20px;
        }
        & input{
            visibility: hidden;
        }
    }
}


/* weapon-data */
#weapon-data{
    position: absolute;
    left: 810px;
    top: 140px;
    width: 400px;
    color: var(--color-gold);

    h2{
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--color-gold);
        font-size: 24px;
        font-weight: 500;
        button{
            position: absolute;
            right: 0;
            top: -2px;
            color: #fff;
            opacity: 0.25;
            &:hover,
            &:focus{
                opacity: 0.6;
            }
        }
    }
    div{
        display: flex;;
    }
    figure{
        position: relative;
        width: 132px;
        height: 132px;
        margin: 0 16px 10px 0;
        border: 1px solid #86837e;
        border-radius: 16px 0;
        background: linear-gradient(to bottom, #212b35 0%, #86837e 100%);
        overflow: hidden;
        float: left;

        &.rank5::after{
            content: '';
            display: block;
            position: absolute;
            bottom: 3px;
            left: 0px;
            width: 100%;
            height: 4px;
            background-color: #ffe55d;
            box-shadow: 0 0 4px 0 rgba(255, 229, 93, 0.5);

        }
    }
    table{
        width: 250px;
        color: var(--color-gold);
        font-size: 18px;
        th{
            text-align: left;
            font-weight: 500;
        }
        td{
            text-align: right;
            padding: 4px 0;
            font-weight: 500;
        }
    }
    #weapon-tuning-rank{
        text-align: right;
    }
    p.syntonize{
        clear: both;
        /* color: rgb(180, 180, 180); */
        font-size: 16px;
        font-weight: 500;
        line-height: 1.8;
    }
}


/* total-status, score-factors */
#subtotal-status {
    right: 240px;
    width: 380px;

    li{
        color: rgb(180, 180, 180);
        &.disabled {
            color: rgb(128, 128, 128);
        }
    }
}
#subtotal-score-list {
    right: 20px;
    width: 240px;

    label{
        display: none;
    }
    input{
        color: rgb(180, 180, 180);
        &[readonly]{
            text-align: center;
        }
    }
    b{
        flex: 1;
        color: #fff;
        font-size: 20px;
        text-align: right;
    }
    li.disabled{
        input,
        b{
            color: rgb(128, 128, 128);
        }
    }
}


/* echoColumn
-------------------------------------------------- */
#echo-list {
    display: flex;
    gap: 6px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    /* font-family: sans-serif; */
}


#echo-list li{
    position: relative;
}
#drag-echo-item {
    position: absolute;
    z-index: 1000 !important;
    cursor: grab;
    pointer-events: auto;
    opacity: 0.7;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    img {
        user-drag: none;
        -webkit-user-drag: none;
    }
}

#echo-list li,
#drag-echo-item{
    width: 364px;
    background-color: rgb(17, 11, 21);
    border-right: 2px solid ;
    border-bottom: 2px solid ;
    border-color: transparent rgba(120, 110, 100, 0.5) rgba(120 , 110, 100, 0.5) transparent;
    border-radius: 20px;
    box-sizing: border-box;

    &::before,
    &::after{
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        line-height: 0;
    }
    /* &::before{
        right: -2px;
        top: 20px;
        width: 2px;
        height: 100%;
        background: linear-gradient(to bottom, rgba(17,11,21,1) 30%, rgba(17,11,21,0) 60%);
    }
    &::after{
        left: 20px;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, rgba(17,11,21,1) 30%, rgba(17,11,21,0) 60%);
    } */

    &.highlight{
        box-shadow: 0 0 12px 4px rgba(255, 255, 200, 1);
        z-index: 1;
    }

    figure{
        margin: -15px 0 0 -0;
        img{
            mask-image:
                linear-gradient(
                    to bottom, 
                    transparent 0px, 
                    black 10px, 
                    black 100%
                ),
                linear-gradient(
                    to left, 
                    transparent 0px, 
                    black 60px, 
                    black 100%
                ),
                linear-gradient(
                    to top, 
                    transparent 0px, 
                    black 10px, 
                    black 100%
                ),
                linear-gradient(
                    to right, 
                    transparent 0px, 
                    black 10px, 
                    black 100%
                );
            mask-composite: intersect;
        }
    }
    img.element-type{
        position: absolute;
        right: 74px;
        top: 12px;
        object-fit: cover;
        filter: grayscale(1);
        opacity: 0.2;
    }
    .cost{
        position: absolute;
        right: 16px;
        top: 11px;
        width: 48px;
        height: 48px;
        color: var(--color-gold);
        font-size: 23px;
        text-align: center;
        line-height: 48px;
        &::before,
        &::after{
            content: '';
            display: block;
            position: absolute;
            border: 1px solid var(--color-gold);
            transform: rotate(45deg);
            opacity: 0.5;
        }
        &::before{
            left: 9px;
            top: 9px;
            width: 30px;
            height: 30px;
        }
        &::after{
            left: 13px;
            top: 13px;
            width: 22px;
            height: 22px;
        }
    }

    .main-status{
        position: absolute;
        top: 70px;
        right: 8px;
        width: 195px;
        color: var(--color-gold);
        
        th,td{
            font-weight: 500;
        }

        th{
            text-align: left;
            /* font-size: 16px; */
            letter-spacing: -1px;
        }
        td{
            font-size: 18px;
            text-align: right;
            /* font-size: 26px;
            font-weight: 500; */
        }
    }
    .sub-status{
        width: calc(100% - 30px);
        margin: 0 15px;
        color: rgb(230,230,230);
        font-size: 18px;
        line-height: 2;

        thead {
            display: none;
            th{
                width: 18%;
                padding-bottom: 4px;;
                color: rgb(128,128,128);
                border-bottom: 1px solid rgb(128,128,128);
                font-size: 16px;

            }
            th:first-child{
                width: 64%;
                text-align: left;
            }
            th:nth-child(2){
                visibility: hidden;  /* データ構造上はいるけど、表示上は不要 */
            }
        }
        tbody{
            color: rgb(180, 180, 180);
            
            th,td{
                font-weight: 500;
            }
            th{
                width: 66%;
                text-align: left;
                &.compact{
                    letter-spacing: -1px;
                }
            }
            td{
                width: 16%;
                text-align: right;
                &:last-child{
                    color: white;
                }
            }
            tr:first-child > *{
                padding-top: 10px;
            }

            tr.disabled{
                th, td{
                    color: rgb(128, 128, 128);
                }
            }
        }
    }
    .rank,
    .score{
        display: flex;
        align-items: flex-end;
        margin: 10 15px 25px;
        line-height: 1;
        text-align: right;
        /* color: var(--color-gold); */
        i{
            flex: 1;
            margin-bottom: 1px;
            color: var(--color-gold);
            font-size: 24px;
            font-weight: 600;
        }
        b{
            width: 75px;
            font-size: 28px;
            font-weight: 600;
        }
    }
    .rank{
        display: none;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
}

#echo-scan-window {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 1000px;
    height: 1200px;
    border: 2px solid #444;
    background: #333;
    z-Index: 9999;
    padding: 10px;
    overflow: auto;
    font-Size: 14px;
    box-Shadow: 0 0 10px rgba(0,0,0,0.3);

    button{
        padding: 10px 20px;
    }
}